<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with(model: @user, url: {action: 'create'}, method: :post, data: {remote: false}) do |form| %>
  <dl>
    <dt>アイコン</dt>
    <dd><%= form.file_field :icon %></dd>
    <dt>ユーザー名</dt>
    <dd><%= form.text_field :name %></dd>
    <dt>メールアドレス</dt>
    <dd><%= form.text_field :email %></dd>
    <dt>パスワード</dt>
    <dd><%= form.password_field :password %></dd>
    <dt>パスワード（確認）</dt>
    <dd><%= form.password_field :password_confirmation %></dd>
    <dt><%= form.submit "登録する" %></dt>
  </dl>
<% end %>
