<!DOCTYPE html>
<html>
  <head>
    <title>Ivrea</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/icon?family=Material+Icons", media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if controller.controller_name == 'top' %>
      <%= yield %>
    <% else %>
      <nav class="navbar" style="background-color: #2D2D2D; color: #2D2D2D;">
        <%= link_to root_path, class: 'navbar-brand', style: 'color: #2D2D2D;' do %>
          <img src="<%= asset_path('logo.png') %>" style="width: 100px;"/>
        <% end %>
      </nav>
      <div class="container mt-3">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
